* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F9F8;
}

.banner {
    margin-top: 120px;
    height: 227px;
    width: 100%;
    display: flex; /* Use flexbox to align children */
    background-color: #171717;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: calc(100% - 400px);
    height: 227px;
}

.carousel-inner {
    display: flex;
    height: 100%;
    animation: slide 16s infinite; /* adjust time as needed */
}

.carousel-item {
    flex: 1 0 100%; /* Each item takes 100% of the container's width */
}

.carousel-item img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.car-banner {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    height: 227px;
}

.car-banner h1 {
    font-size: 54px;
    color: white;
    width: 300px;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
}

.main-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.main-section-header h2 {
    font-size: 36px;
    font-weight: bold;
    width: 200px;
}

.main-section-header-right {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    width: calc(100% - 200px);
}

.main-section-header-right option {
    margin: 0 10;
    color: #A60B0B;
}

/*
.loc-now {
    display: flex;
    width: 105px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.loc-now:hover {
    cursor: pointer;
    background-color: #A60B0B;
    border-radius: 5px;
}

.loc-now:hover h2 {
    color: white;
}

.loc-now:hover .icon img {
    filter: brightness(0) invert(1);
}

.loc-now .icon {
    display: flex;
    align-items: center;
}

.loc-now h2 {
    font-size: 30px;
    color: #A60B0B;
}
*/

.opt select {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width: 120px;
    max-width: fit-content;
    height: 50px;
    color: #A60B0B;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.opt select:hover {
    cursor: pointer;
    background-color: #A60B0B;
    color: white;
    border-radius: 5px;
}

.opt select option {
    background-color: white;
    font-size: 20px;
    color: #171717;
}

.opt select:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-menu::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.main-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-menu-container {
    display: flex;
    align-items: center;
    position: relative;
}

.main-menu {
    display: flex;
    justify-content: left;
    flex-direction: row;
    overflow-x: auto;
    height: 270px;
    width: 100%;
    user-select: none;
    cursor: grab;
}

.main-menu:active {
    cursor: grabbing;
}

.menu-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 160px;
    height: 260px;
    margin-right: 30px;
}

.menu-card-img {
    display: flex;
    justify-content: center;
}

.menu-card img {
    width: 160px;
    height: 160px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.menu-card-title, 
.menu-card-category, 
.menu-card-bottom {
    margin-left: 6px;
    margin-right: 6px;
}

.menu-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #171717;
    margin-top: 5px;
}

.menu-card-category {
    font-size: 12px;
    background-color: #818181;
    color: white;
    width: 75px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
}

.menu-card-category img {
    width: 22px;
    height: auto;
    object-fit: contain;
    padding-top: 0px;
}

.menu-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.menu-card-bottom:hover .menu-card-btn button {
    background-color: #50B148;
    color: white;
}

.menu-card-bottom p {
    font-size: 16px;
    color: #171717;
    font-weight: bold;
    letter-spacing: -0.7px;
}

.menu-card-btn button {
    font-size: 11px;
    width: 60px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #50B148;
    background-color: transparent;
    color: #50B148;
    font-weight: bold;
    cursor: pointer;
}

.menu-button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.menu-button.left-button {
    left: 0;
}

.menu-button.right-button {
    right: 0;
}

.menu-button:hover .button-circle {
    background-color: rgb(197, 197, 197);
    box-shadow: 0px 4px 8px rgba(114, 114, 114, 0.2);
}

.button-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(114, 114, 114, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 16px;
    color: black;
}

.btn-all-menu-container {
    cursor: pointer;
    margin-bottom: 66px;
}

.btn-all-menu-container:hover .btn-all-menu button {
    background-color: #245820;
}

.btn-all-menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-all-menu button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #50B148;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.all-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.all-menu-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.all-menu-right h1 {
    display: flex;
    justify-content:left;
    color: #171717;
    padding-left: 10px;
}

.all-category {
    width: 270px;
    height: 650px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

.all-menu-item {
    width: 100%;
    height: 650px;
    background-color: #D9D9D9;
    margin-top: 8px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.all-menu-item-container {
    display: none;
}

.all-menu-item-container:target {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 60px;
    width: 80%;
    box-shadow: 0 1px 0 0 #4D4D4D;
    cursor: pointer;
    color:#171717;
    font-weight: bold;
    text-decoration: none;
}

.tab-button:hover {
    background-color: #245820;
    width: 100%;
    color: white;
}

.active {
    background-color: #245820;
    width: 100%;
    color: white;
}

.items {
    width: 200px;
    height: 115px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.items:hover .items-right button {
    background-color: #245820;
    color: white;
}

.items-left {
    display: flex;
    align-items: center;
}

.items-right {
    margin-left: 6px;
    margin-right: 3px;
    width: 90%;
}

.items-right button {
    width: 100%;
    border: 1px solid #50B148;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    color: #245820;
    font-weight: bold;
}

.items-price {
    color: #171717;
    padding-top: 5px;
    line-height: 1.5;
    margin-bottom:30px;
}

.items-price p {
    font-weight: bold;
}

.items img {
    width: 115px;
    height: 110px;
}

.checkout {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.checkout button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #50B148;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.checkout button:hover {
    background-color: #245820;
}