* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #F7F9F8;
    width: 100%;
    height: 100%;
}

/* location.html */

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
}

.location h1 {
    font-size: 54px;
    text-align: center;
    letter-spacing: 8px;
    color: #171717;
}

.location button {
    width: 260px;
    height: 140px;
    border-radius: 8px;
    border: 5px solid #4B4B4B;
    background-color: transparent;
    font-size: 30px;
    color: #171717;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.location button:hover {
    background-color: #245820;
    color: white;
}

.btn-location {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.home-page {
    display: flex;
    margin: 0 120px 0 120px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: calc(100vh - 40px);
}

.home-left {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
}

.home-left h1 {
    font-size: 54px;
    letter-spacing: 8px;
    color: #171717;
}

.home-right {
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Carousel container styling */
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100%;
}

.carousel-container:hover .carousel-overlay {
    opacity: 1;
}

/* Carousel inner container styling */
.carousel-inner {
    display: flex;
    width: 400%; /* assuming 4 images */
    animation: slide 16s infinite; /* adjust time as needed */
}

/* Each carousel item styling */
.carousel-item {
    flex: 1 0 100%;
}

/* Keyframes for sliding animation */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.carousel-container:hover .carousel-inner {
    animation-play-state: paused;
}

/* Additional styling for images to fit the container */
.carousel-item img {
    height: 522px;
    width: 1000px;
    max-width: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    height: 522px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
}

.btn-type button {
    width: 266px;
    height: 138px;
    border-radius: 20px;
    margin-bottom: 16px;
    color: #171717;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
    border: 3px solid #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-type button img {
    height: auto;
    max-height: 100%;
    max-width: 90px;
    filter: invert(0.9); /* roughly equal to #171717 color */
    padding-right: 2px;
}

.btn-type button:hover {
    background-color: #245820;
    color: white;
}

.btn-type button:hover img {
    filter: none;
}

.todays-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}

.todays-menu h2 {
    font-size: 24px;
    text-align: center;
    color: #171717;
}

.todays-menu table {
    background-color: #DBDBDB;
    border-collapse: collapse;
    width: 440px;
    margin-bottom: 20px;
}

.todays-menu table:last-child {
    margin-bottom: 100px;
}

.todays-menu th,td {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffffff;
}

@media (max-height: 870px) {
    .home-page {
        margin: 0 120px 55px 120px;
    }
}

@media(max-width: 1500px) {
    .home-page {
        align-items: center;
    }
}

@media (max-width: 1400px) {
    .home-left {
        margin-top: 160px;
    }
    
    .carousel-inner {
        height: 500px;
    }

    .carousel-overlay {
        border-radius: 0;
    }

    .carousel-overlay,
    .carousel-container,
    .carousel-item img {
        height: 417.6px;
        width: 800px;
    }
}

@media (max-width: 1220px) {

    .carousel-overlay,
    .carousel-container,
    .carousel-item img {
        height: 313.2px;
        width: 600px;
    }
}

@media (max-width: 1000px) {
    .home-page {
        flex-direction: column;
        padding-top: 100px;
        justify-content: start;
        align-items: center;
        margin: 0 10px 0 10px;
    }

    .home-left {
        width: 100%;
        margin-top: 0;
    }
    
    .home-left h1 {
        font-size: 36px;
        letter-spacing: 6px;
    }

    .carousel-container {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .carousel-container::before {
        content: "";
        display: block;
        padding-top: 52.2%; /* Aspect ratio of 1000:522 */
    }
    
    .carousel-inner,
    .carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the container */
    }

    .carousel-container:active .carousel-overlay {
        opacity: 1;
    }
    
    .carousel-overlay,
    .carousel-container,
    .carousel-item img {
        border-radius: 20px;
    }

    .home-right {
        margin-top: 15px;
        max-width: 550px;
    }

    .btn-resp {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: calc(100% - 120px);
        margin: 0 60px 0 60px;
    }

    .btn-type {
        margin-right: 15px;
    }
    .btn-type:last-child {
        margin-right: 0;
    }
}

@media (max-width: 921px) {
    .home-page {
        padding-top: 80px;
    }
}

@media (max-width: 760px) {
    .location {
        margin: 0 10px 0 10px;
        justify-content: center;
        height: calc(100vh - 40px);
    }

    .location h1 {
        font-size: 56px;
        margin-bottom: 10px;
    }

    .btn-location {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
        height: 300px;
    }

    .btn-location button {
        margin-bottom: 15px;
        width: 100%;
    }

    .btn-location button:last-child {
        margin-bottom: 0;
    }

    .btn-location button:active {
        background-color: #245820;
        color: white;
    }
}

@media (max-width: 640px) {
    .home-left {
        align-items: center;
    }

    .home-left h1 {
        font-size: 32px;
        letter-spacing: 4px;
    }
}

@media (max-width: 610px) {
    body {
        height: auto;
    }

    .btn-resp {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .home-right {
        width: 100%;
    }

    .btn-type button {
        width: 100%;
        height: 70px;
        border: none;
        color: #171717;
        border: 1px solid #cfcfcf;
        font-size: 22px;
    }

    .btn-type button:hover {
        background-color: none;
    }

    .btn-type button:active {
        background-color: #245820;
        color: white;
    }

    .btn-type {
        margin-right: 0;
    }

    .btn-type button img {
        display: none;
    }

    .todays-menu {
        align-items: center;
        margin: 100px 0 0 0;
        height: 805px;
        width: 100%;
        justify-content: start;
    }

    .todays-menu table {
        width: 400px;
    }

    .todays-menu th,td {
        font-size: 14px;
        text-align: center;
        padding: 4px;
        border: 1px solid #ffffff;
    }
}

@media (max-width: 480px) { 
    .home-left h1 {
        font-size: 26px;
    }

    .todays-menu table {
        width: 340px;
    }
}

@media (max-width: 300px) {
    .home-left h1 {
        font-size: 18px;
    }
}