* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    padding-left: 120px;
    padding-right: 120px;
    background-color: #F7F9F8;
    width: 100%;
}

/* location.html */

.location {
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h1 {
    font-size: 54px;
    text-align: center;
    letter-spacing: 8px;
    color: #171717;
}

.location button {
    width: 260px;
    height: 140px;
    border-radius: 8px;
    border: 5px solid #4B4B4B;
    background-color: transparent;
    font-size: 30px;
    color: #171717;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.location button:hover {
    background-color: #4B4B4B;
    color: white;
}

.btn-location {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.home-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.home-left {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
}

.home-left h1 {
    font-size: 54px;
    letter-spacing: 8px;
    color: #171717;
    line-height: 0;
}

.home-right {
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Carousel container styling */
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100%;
}

.carousel-container:hover .carousel-overlay {
    opacity: 1;
}

/* Carousel inner container styling */
.carousel-inner {
    display: flex;
    width: 400%; /* assuming 4 images */
    animation: slide 16s infinite; /* adjust time as needed */
}

/* Each carousel item styling */
.carousel-item {
    flex: 1 0 100%;
}

/* Keyframes for sliding animation */
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.carousel-container:hover .carousel-inner {
    animation-play-state: paused;
}

/* Additional styling for images to fit the container */
.carousel-item img {
    height: 100%;
    width: 1000px;  
}

.carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
}

.btn-type button {
    width: 266px;
    height: 138px;
    border-radius: 20px;
    margin-bottom: 16px;
    color: #171717;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
    border: 3px solid #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-type:last-child button {
    margin-bottom: 0;
}

.btn-type button img {
    height: auto;
    max-height: 100%;
    max-width: 90px;
    filter: invert(0.9); /* roughly equal to #171717 color */
    padding-right: 2px;
}

.btn-type button:hover {
    background-color: #245820;
    color: white;
}

.btn-type button:hover img {
    filter: none;
}

.todays-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}

.todays-menu h2 {
    font-size: 24px;
    text-align: center;
    color: #171717;
}

.todays-menu table {
    background-color: #DBDBDB;
    border-collapse: collapse;
    width: 440px;
    margin-bottom: 20px;
}

.todays-menu table:last-child {
    margin-bottom: 100px;
}

.todays-menu th,td {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffffff;
}

@media (max-width: 1600px) {
    body, html {
        padding-left: 30px;
        padding-right: 30px;
    }

    .home-page {
        align-items: center;
    }
}

@media (max-width: 1400px) {
    .carousel-container {
        width: 800px;
        height: 500px;
    }

    .carousel-inner {
        height: 500px;
    }

    .carousel-overlay {
        border-radius: 0;
    }
}

@media (max-width: 1220px) {
    body, html {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 921px) {
    body, html {
        margin: 0 30px;
        background-color: #F7F9F8;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 480px) {

}