* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    background-color: #F7F9F8;
}

.container {
    margin: 140px 120px 0 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#popup {
    width: 1000px;
    height: 370px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#popup h2 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}
.button-container button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #171717;
    background: #fff;
    cursor: pointer;
}
.button-container button:hover:not(:disabled) {
    background-color: #50B148;
    color: #fff;
}

.button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-container button.highlighted {
    background-color: #50B148;
    color: #fff;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

h1 {
    font-size: 54px;
    color: #171717;
    width: 100%;
}

.header-right {
    display: flex;
    flex-direction: row;
    width: calc(100% - 110px);
    justify-content: end;
    align-items: end;
}

.header-right h3 {
    font-size: 30px;
    color: #50B148;
    margin-right: 60px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.opt {
    align-items: end;
    margin-bottom: 8px;
}

.opt:last-child {
    margin-left: -20px;
}

.opt:last-child select {
    text-align: end;
}

.opt select {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width: 120px;
    max-width: fit-content;
    height: 50px;
    color: #A60B0B;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.opt select:hover {
    cursor: pointer;
    background-color: #A60B0B;
    color: white;
    border-radius: 5px;
}

.opt select option {
    background-color: white;
    font-size: 20px;
    color: #171717;
}

.opt select:focus {
    outline: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 650px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-header h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.content-header {
    width: 120px;
    height: 40px;
    background-color: #245820;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-box {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drop-container {
    border: 1px solid #D9D9D9;
    width: 320px;
    padding: 0 12px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.drop-container:hover {
    background-color: #D9D9D9;
}

.drop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.drop-content {
    display: none;
    width: 100%;
    background-color: white;
    border: 1px solid #D9D9D9;
    margin-top: 5px;
}

.drop-content:last-child {
    margin-bottom: 15px;
}

.drop-content p {
    margin: 10px 12px;
    display: flex;
    justify-content: space-between;
}

.top-left {
    font-size: 16px;
    font-weight: bold;
}

.bottom-left {
    font-size: 12px;
}

.top-right {
    font-size: 16px;
    font-weight: bold;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.down-arrow {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
}

.drop-container.open .drop-content {
    display: block;
}

.drop-container.open:hover {
    background-color: white; /* or the same color as the background */
}

/* Add hover effect on drop-content */
.drop-content:hover {
    background-color: #D9D9D9;
}

.hotpot-container {
    margin: 220px 120px 0 140px;
}

.hotpot-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.header-right {
    display: flex;
    flex-direction: row;
    width: calc(100% - 110px);
    justify-content: end;
    align-items: end;
}

.header-right h3 {
    font-size: 30px;
    color: #50B148;
    margin-right: 60px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.hotpot-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hotpot-menu h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 40px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.menu-item {
    width: 160px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 6px;
}

.menu-item img {
    width: 150px;
    height: auto;
}

.menu-text {
    display: flex;
    align-items: end;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.menu-text p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.menu-item button {
    width: calc(100% - 16px);
    height: 30px;
    font-size: 16px;
    border: 1px solid #50B148;
    border-radius: 6px;
    background: transparent;
    color: #50B148;
    cursor: pointer;
}

.menu-item:hover button {
    background-color: #50B148;
    color: white;
}

.fillings-container {
    margin: 190px 120px 0 120px;
}

.filling-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px 10px 20px; /* top right bottom left */
}

.filling-container h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.filling-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.filling-category {
    width: 20%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.filling-item-container {
    width: 80%;
    height: 380px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.filling-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 60px;
    width: 80%;
    box-shadow: 0 1px 0 0 #4D4D4D;
    cursor: pointer;
    color:#171717;
    font-weight: bold;
    text-decoration: none;
}

.tab-button:hover {
    background-color: #245820;
    width: 100%;
    color: white;
}

.active {
    background-color: #245820;
    width: 100%;
    color: white;
}

.items {
    width: 200px;
    height: 115px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.items:hover .items-right button {
    background-color: #245820;
    color: white;
}

.items-left {
    display: flex;
    align-items: center;
}

.items-right {
    margin-left: 6px;
    margin-right: 3px;
    width: 90%;
}

.items-right button {
    width: 100%;
    border: 1px solid #50B148;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    color: #245820;
    font-weight: bold;
}

.items-price {
    color: #171717;
    padding-top: 5px;
    line-height: 1.5;
    margin-bottom:30px;
}

.items-price h3, 
.items-price p {
    margin: 0;
}

.items-price p {
    font-weight: bold;
    color: #50B148;
}

.items img {
    width: 115px;
    height: 110px;
}

.btn-payment button {
    width: 100%;
    height: 30px;
    background-color: #50B148;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.btn-payment button:hover {
    background-color: #245820;
}

.title h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #171717;
    font-weight: bold;
    padding-bottom: 5px;
    ;
}

.order-card {
    width: 100%;
    height: 620px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.order-card-left {
    border-right: 1px solid #909090;
    margin-bottom: 10px;
    width: 50%;
    padding-left: 50px;
    padding-right: 15px;
}

.order-card h3 {
    font-size: 26px;
    font-weight: bold;
    color: #171717;
    margin-top: 10px;
    padding-bottom: 5px;
}

.order-card-right {
    margin-bottom: 10px;
    width: 50%;
    padding-right: 50px;
    padding-left: 15px;
}

.item-container {
    overflow-y: scroll;
    height: 300px;
    border-bottom: 10px solid #FAFAFA;
}

.item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    width: calc(100%-10px);
    margin-bottom: 20px;
    margin-right: 10px;
}

.item h4 {
    color: #171717;
    font-size: 20px;
    font-weight: bold;
}

.item p {
    color: #797979;
    font-size: 16px;
    font-weight: bold;
}

.item img {
    width: 186px;
    height: 120px;
}

.item-info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.item-price-qty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
}

.item-price-qty p {
    color: #50B148;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: end;
}

.qty button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    font-size: 20px;
    background-color: #d4d4d4;
    cursor: pointer;
}

.qty button:hover {
    background-color: #171717;
    color: white;
}

.qty input {
    width: 15px;
    border: none;
    text-align: center;
}

.upsell-container {
    background-color: #F7F9F8;
    height: 240px;
}

.upsell-container h3 {
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.upsell {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.items {
    width: 200px;
    height: 115px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 15px;
    flex: none;
}

.items:last-child {
    margin-right: 0;
}

.items:hover .items-right button {
    background-color: #245820;
    color: white;
}

.items-left {
    display: flex;
    align-items: center;
}

.items-left img {
    width: 115px;
    height: 110px;
}

.items-right {
    margin-left: 6px;
    margin-right: 3px;
    width: 90%;
}

.items-right button {
    width: 100%;
    border: 1px solid #50B148;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    color: #245820;
    font-weight: bold;
}

.items-price {
    color: #171717;
    padding-top: 5px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.items-price h4 {
    font-size: 18px;
    font-weight: bold;
}

.items-price p {
    font-size: 16px;
    font-weight: bold;
    color: #50B148;
}

.upsell-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.upsell-btn p {
    font-size: 16px;
}

.upsell-btn button {
    background-color: #50B148;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.upsell-btn:hover button {
    background-color: #245820;
    color: white;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;

}

.right-header p {
    color: #A60B0B;
    font-size: 26px;
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loc-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #A60B0B;
}

.loc-order p {
    margin-right: 0;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    height: 26px;
    width: auto;
    padding-left: 5px;
}

.payment {
    display: flex;
    flex-direction: column;
}

.payment-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    margin-left: 15px;
}

.payment-detail p {
    font-size: 18px;
    color: #171717;
}

.payment-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    margin-left: 15px;
}

.payment-total p {
    font-size: 25px;
    color: #171717;
    font-weight: bold;
}

.more-info {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-decoration: underline;
    color: #50B148;
    font-weight: bold;
    text-underline-offset: 0.2em;
    cursor: pointer;
}

.more-info:hover {
    color: #245820;
}

.total-pay {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 315px;
    justify-content: end;
    border-top: 20px solid #FAFAFA;
    margin-top: 20px;
}

.total-pay-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total-pay-amount img {
    height: 50px;
    width: auto;
}

.total-pay-amount .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-left: 8px;
}

.total-pay-amount p {
    font-size: 40px;
    font-weight: bold;
    color: #171717;
    margin-left: 10px;
}

.total-pay-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.total-pay-btn p {
    color: #50B148;
    font-size: 14px;
}

.total-pay-btn button {
    width: 300px;
    height: 50px;
    background-color: #50B148;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.total-pay-btn button:hover {
    background-color: #245820;
}

.room-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 35px;
    border: solid 2px #50B148;
    margin-right: 30px;
}

.room-number h4 {
    font-size: 26px;
    font-weight: bold;
}