/* Navbar Container */
.navbar-container {
    background-color: white;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

/* Navbar */
.navbar {
    margin: 0 120px;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-right {
    display: flex;
    margin-left: auto;
}

.navbar-right button {
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
}

.navbar-right button img {
    padding-right: 8px;
}

.navbar-right button.active,
.navbar-right button:hover {
    border: 1px solid #000000;
    border-radius: 8px;
}

/* Dropdown */
.dropbtn {
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

/* Footer */
.footer {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: lighter;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 998;
}

/* Back Container */
.back-container {
    position: absolute;
    top: 90px;
    left: 120px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 998;
}

.back-container p {
    font-size: 20px;
    color: #4d4d4d;
    font-weight: bold;
    padding-left: 5px;
}

.btn-back {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #171717;
    background-color: transparent;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-back img {
    height: 30px;
}

.back-container:hover .btn-back {
    background-color: #4B4B4B;
    color: white;
    border: none;
}

.back-container:hover .btn-back img {
    filter: invert(1);
}

/* Location Now */
.location-now {
    display: flex;
    width: 105px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.location-now:hover {
    cursor: pointer;
    background-color: #A60B0B;
    border-radius: 5px;
}

.location-now:hover h2 {
    color: white;
}

.location-now:hover .icon img {
    filter: brightness(0) invert(1);
}

.location-now .icon {
    display: flex;
    align-items: center;
}

.location-now h2 {
    font-size: 30px;
    color: #A60B0B;
}

/* Hamburger */
.hamburger {
    display: none;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Navbar Collapse */
.navbar-collapse {
    display: none;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-collapse p {
    font-size: 16px;
}

.navbar-collapse .dropdown {
    width: 100%;
    text-align: left;
    padding: 20px 30px;
}

/* Responsive */
.resp,
.resp-faq {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 10px 30px 10px 30px;
}

.resp img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.resp-faq img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

.resp:active,
.resp-faq:active,
.dropdown-content a:active{
    background-color: #d8d8d8;
}



/* Media Queries */
@media (max-width: 1220px) {
    .back-container {
        width: 80px;
        top: 85px;
        left: 10px;
    }
    
    .back-container p {
        font-size: 16px;
    }
    
    .btn-back {
        width: 40px;
        height: 40px;
    }
    
    .btn-back img {
        height: 20px;
    }
}

@media (max-width: 921px) {
    .navbar-container {
        height: 60px;
    }
    .footer {
        text-align: center;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 30px;
    }

    .navbar-right {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .navbar-collapse .dropdown-content {
        position: relative;
        min-width: 100%;
        box-shadow: none;
    }

    .dropdown {
        margin: 0;
    }

    .dropdown.show .dropdown-content.show {
        display: block; /* Show when dropdown is active */
    }

    .dropdown-content a {
        padding: 10px 60px;
    }

    .back-container {
        top: 65px;
    }

    .btn-back {
        width: 30px;
        height: 30px;
    }
    
    .btn-back img {
        height: 14px;
    }
}

@media (max-width: 640px) {
    .navbar-collapse p {
        font-size: 14px;
    }

    .navbar-collapse a {
        font-size: 14px;
    }
}

@media (max-width: 610px) {
    .location-now {
        width: 70px;
        height: 40px;
        padding: 0 5px;
    }
    
    .location-now .icon img {
        width: 20px;
        height: 26.67px;
    }
    
    
    .location-now h2 {
        font-size: 20px;
        color: #A60B0B;
    }
}

@media (max-width: 480px) {
    .back-container {
        top: 60px;
    }

    .navbar {
        margin: 0 10px;
    }
}

@media (max-width: 390px) {

}
