/* This is how to use external CSS style */

/* The following styles apply to <pre> elements */
pre {
  white-space: pre-wrap; /* Preserve line breaks and wrap text */
  overflow-x: auto; /* Add horizontal scroll if content overflows */
}

/* The following styles apply to <img> elements */
img {
  max-width: 100%; /* Set the maximum width of the image to 100% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

/* The following styles apply to <blockquote> elements with class "headings" */
blockquote.headings {
  font-family: 'Roboto'; /* Set the font family to Roboto */
  font-size: 120%; /* Set the font size to 120% of the parent element */
  color: #171717; /* Set the text color to #171717 */
  text-align:center; /* Center align the text */
  padding: 10px; /* Add 10 pixels of padding around the element */
  width:auto; /* Set the width to auto */
}

/* The following styles apply to <h2> elements with class "section" */
h2.section {
  background-color: gainsboro; /* Set the background color to gainsboro */
  color: #333; /* Set the text color to #333 */
  text-align:left; /* Left align the text */
  cursor: pointer; /* Change the cursor to a pointer */
  padding: 10px; /* Add 10 pixels of padding around the element */
  font-weight:bold; /* Set the font weight to bold */
  text-decoration: underline; /* Add underline to the text */
}

/* The following styles apply to <h2> elements with class "section" when hovered */
h2.section:hover {
  background-color: #171717; /* Set the background color to #171717 */
  color:gainsboro; /* Set the text color to gainsboro */
}

/* The following styles apply to elements with class "subsection" */
.subsection {
  font-family: 'Roboto'; /* Set the font family to Roboto */
}

/* The following styles apply to <h3> elements with class "subsection" */
h3.subsection {
  font-family: 'Roboto'; /* Set the font family to Roboto */
  color: #171717; /* Set the text color to #171717 */
  background-color: gainsboro; /* Set the background color to gainsboro */
  padding: 10px; /* Add 10 pixels of padding around the element */
  cursor: pointer; /* Change the cursor to a pointer */
  text-decoration: underline; /* Add underline to the text */
  margin-left: 2%; /* Set the left margin to 2% */
  margin-right: 2%; /* Set the right margin to 2% */
}

/* The following styles apply to <h3> elements with class "subsection" when hovered */
h3.subsection:hover {
  background-color: #171717; /* Set the background color to #171717 */
  color:gainsboro; /* Set the text color to gainsboro */
}

/* The following styles apply to <ul> elements with class "threeColumn" */
ul.threeColumn {
  list-style-type: none; /* Remove the default bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  column-count: 10; /* Divide the content into 10 columns */
  column-gap: normal; /* Set the gap between columns to normal */
}

/* The following styles apply to <li> elements with class "threeColumn" */
li.threeColumn {
  margin-bottom: 10px; /* Add 10 pixels of margin at the bottom */
}

/* The following styles apply to <ul> elements with class "threeColumn" when the screen width is less than or equal to 1024px */
@media screen and (max-width: 1024px) {
  ul.threeColumn {
    column-count: 4; /* Divide the content into 4 columns */
  }
}

/* The following styles apply to <ul> elements with class "threeColumn" when the screen width is less than or equal to 768px */
@media screen and (max-width: 768px) {
  ul.threeColumn {
    column-count: 3; /* Divide the content into 3 columns */
  }
}

/* The following styles apply to <ul> elements with class "threeColumn" when the screen width is less than or equal to 480px */
@media screen and (max-width: 480px) {
  ul.threeColumn {
    column-count: 2; /* Divide the content into 2 columns */
  }
}

/* The following styles apply to the <body> element */
body {
  background-color: gainsboro; /* Set the background color to gainsboro */
  font-family: sans-serif; /* Set the font family to sans-serif */
  margin-left: 100px; /* Set the left margin to 100px */
  margin-right: 100px; /* Set the right margin to 100px */
  color:#414141; /* Set the text color to #414141 */
}

/* The following styles apply to <pre> elements */
pre {
  background-color: #171717; /* Set the background color to #171717 */
  padding: 10px; /* Add 10 pixels of padding around the element */
  color: honeydew; /* Set the text color to honeydew */
  text-align: left; /* Left align the text */
  display: flex; /* Use flex display */
  overflow-x: auto; /* Add horizontal scroll if content overflows */
  width: fit-content; /* Set the width to fit the content */
}

/* The following styles apply to the scrollbar of the <body> element in WebKit browsers */
body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar to 10px */
}

/* The following styles apply to the track of the scrollbar of the <body> element in WebKit browsers */
body::-webkit-scrollbar-track {
  background-color: gainsboro; /* Set the background color of the scrollbar track to gainsboro */
}

/* The following styles apply to the thumb of the scrollbar of the <body> element in WebKit browsers */
body::-webkit-scrollbar-thumb {
  background-color: #414141; /* Set the background color of the scrollbar thumb to #414141 */
}

/* The following styles apply to the thumb of the scrollbar of the <body> element in WebKit browsers when hovered */
body::-webkit-scrollbar-thumb:hover {
  background-color: #171717; /* Set the background color of the scrollbar thumb to #171717 */
}

/* The following styles apply to <ul> elements with class "content-list" */
ul.content-list {
  list-style-type: none; /* Remove the default bullet points */
  padding: 0; /* Remove padding */
}

/* The following styles apply to <li> elements within <ul> elements with class "content-list" */
ul.content-list li a {
  text-decoration: underline; /* Add underline to the text */
  color: #333; /* Set the text color to #333 */
  font-weight: bold; /* Set the font weight to bold */
  display: block; /* Display the link as a block element */
  padding: 10px; /* Add 10 pixels of padding around the element */
  background-color: gainsboro; /* Set the background color to gainsboro */
}

/* The following styles apply to <li> elements within <ul> elements with class "content-list" when hovered */
ul.content-list li a:hover {
  background-color: #171717; /* Set the background color to #171717 */
  color:gainsboro; /* Set the text color to gainsboro */
}

.table-container {
  display:flex; /* Use flex display */
  flex-wrap: wrap; /* Wrap the content */
}

@media screen and (max-width: 1600px) {
  .table-container {
    display:block; /* Use block display */
  }
}

/* The following styles apply to elements with class "table-ie", as well as their <th> and <td> children */
.table-ie, .table-ie th, .table-ie td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 1px; /* Set the border width to 1px */
  border-style: dashed; /* Set the border style to dashed */
  border-color: teal; /* Set the border color to teal */
  border-collapse: collapse; /* Collapse the borders */
}

/* The following styles apply to elements with class "table-norm", as well as their <th> and <td> children */
.table-norm, .table-norm th, .table-norm td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: #171717; /* Set the border color to #171717 */
  border-collapse: collapse; /* Collapse the borders */
  width: 500px; /* Set the width to 500px */
}

/* The following styles apply to <th> elements within elements with class "table-norm" */
.table-norm th {
  font-weight: bold; /* Set the font weight to bold */
  text-align:left; /* Left align the text */
  width: 120px; /* Set the width to 120px */
}

/* The following styles apply to elements with class "table-pad", as well as their <th> and <td> children */
.table-pad, .table-pad th, .table-pad td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: #171717; /* Set the border color to #171717 */
}

/* The following styles apply to <th> and <td> elements within elements with class "table-pad" */
.table-pad th, .table-pad td {
  padding: 10px; /* Add 10 pixels of padding around the element */
}

/* The following styles apply to elements with class "table-spc", as well as their <th> and <td> children */
.table-spc, .table-spc th, .table-spc td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: #171717; /* Set the border color to #171717 */
  border-spacing: 20px; /* Set the spacing between cells to 20px */
}

/* The following styles apply to elements with class "table-span", as well as their <th> and <td> children */
.table-span, .table-span th, .table-span td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: #171717; /* Set the border color to #171717 */
  border-collapse: collapse; /* Collapse the borders */
}

/* The following styles apply to elements with class "table-stripe", as well as their <th> and <td> children */
.table-stripe, .table-stripe th, .table-stripe td {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: gainsboro; /* Set the border color to gainsboro */
  border-collapse: collapse; /* Collapse the borders */
}

/* The following styles apply to even rows within elements with class "table-stripe" */
.table-stripe tr:nth-child(even) {
  background-color: #130c35; /* Set the background color to #130c35 */
  color: gainsboro; /* Set the text color to gainsboro */
  border-color:rgb(255, 0, 0); /* Set the border color to red */
}

/* The following styles apply to elements with class "table-stripe-v", as well as their <tr> children */
.table-stripe-v, .table-stripe-v tr {
  border-radius: 5px; /* Set the border radius to 5px */
  border: 2px; /* Set the border width to 2px */
  border-style: solid; /* Set the border style to solid */
  border-color: gainsboro; /* Set the border color to gainsboro */
  border-collapse: collapse; /* Collapse the borders */
  border-style: solid; /* Set the border style to solid */
}

/* The following styles apply to even <td> and <th> elements within elements with class "table-stripe-v" */
.table-stripe-v td:nth-child(even), .table-stripe-v th:nth-child(even) {
  background-color: #130c35; /* Set the background color to #130c35 */
  color: gainsboro; /* Set the text color to gainsboro */
}

/* The following styles apply to elements with class "table-col" */
.table-col {
  border-collapse: collapse; /* Collapse the borders */
  width: 300px; /* Set the width to 300px */
}

/* The following styles apply to <th> elements within elements with class "table-col" */
.table-col th {
  background-color: #171717; /* Set the background color to #171717 */
  color: gainsboro; /* Set the text color to gainsboro */
  font-weight: bold; /* Set the font weight to bold */
  padding: 10px; /* Add 10 pixels of padding around the element */
}

/* The following styles apply to <td> elements within elements with class "table-col" */
.table-col td {
  padding: 10px; /* Add 10 pixels of padding around the element */
  border-bottom: 1px solid #171717; /* Add a 1px solid border at the bottom */
}

/* The following styles apply to elements with class "table-indo" */
.table-indo {
  width: 300px; /* Set the width to 300px */
  border-collapse: collapse; /* Collapse the borders */
}

/* The following styles apply to <th> elements within elements with class "table-indo" */
.table-indo th {
  background-color: #171717; /* Set the background color to #171717 */
  color: gainsboro; /* Set the text color to gainsboro */
  font-weight: bold; /* Set the font weight to bold */
  padding: 10px; /* Add 10 pixels of padding around the element */
  font-size: 120%; /* Set the font size to 120% of the parent element */
}

/* The following styles apply to <td> elements within elements with class "table-indo" */
.table-indo td {
  padding: 10px; /* Add 10 pixels of padding around the element */
  border-bottom: 1px solid #171717; /* Add a 1px solid border at the bottom */
}

/* The following styles apply to <tr> elements within elements with class "table-indo" when hovered */
.table-indo tr:hover {
  background-color: #4b4949; /* Set the background color to #4b4949 */
  color: gainsboro; /* Set the text color to gainsboro */
}
.table-form-auto {
  width: auto; /* Set the width to auto */
  border-collapse: collapse; /* Collapse the borders */
  margin-right: 10px; /* Set the right margin to 10px */
  margin-bottom: 10px; /* Set the bottom margin to 10px */
  border: 1px dashed #171717; /* Add a 1px solid border */
}

.table-form-auto th {
  background-color: #171717; /* Set the background color to #171717 */
  color: gainsboro; /* Set the text color to gainsboro */
  font-weight: bold; /* Set the font weight to bold */
  padding: 10px; /* Add 10 pixels of padding around the element */
  font-size: 120%; /* Set the font size to 120% of the parent element */
}

.table-form-auto td {
  padding: 4px; /* Add 10 pixels of padding around the element */
  border-bottom: 1px solid #171717; /* Add a 1px solid border at the bottom */
}

.table-form {
  width: 300px; /* Set the width to 300px */
  border-collapse: collapse; /* Collapse the borders */
  margin-right: 10px; /* Set the right margin to 10px */
  margin-bottom: 10px; /* Set the bottom margin to 10px */
  border: 1px dashed #171717; /* Add a 1px solid border */
}

.table-form th {
  background-color: #171717; /* Set the background color to #171717 */
  color: gainsboro; /* Set the text color to gainsboro */
  font-weight: bold; /* Set the font weight to bold */
  padding: 10px; /* Add 10 pixels of padding around the element */
  font-size: 120%; /* Set the font size to 120% of the parent element */
}

.table-form td {
  padding: 10px; /* Add 10 pixels of padding around the element */
  border-bottom: 1px solid #171717; /* Add a 1px solid border at the bottom */
}

/* The following styles apply to <ul> elements with class "horizontal" */
ul.horizontal {
  list-style-type: none; /* Remove the default bullet points */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  overflow: hidden; /* Hide overflowing content */
  background-color: #333333; /* Set the background color to #333333 */
  width:fit-content; /* Set the width to fit the content */
}

/* The following styles apply to <li> elements within <ul> elements with class "horizontal" */
li.horizontal {
  float: left; /* Float the list items to the left */
}

/* The following styles apply to <a> elements within <li> elements within <ul> elements with class "horizontal" */
li.horizontal a {
  display: block; /* Display the links as block elements */
  color: white; /* Set the text color to white */
  text-align: center; /* Center align the text */
  padding: 14px 16px; /* Add 14 pixels of padding on the top and bottom, and 16 pixels of padding on the left and right */
  text-decoration: none; /* Remove text decoration */
}

/* The following styles apply to <a> elements within <li> elements within <ul> elements with class "horizontal" when hovered */
li.horizontal a:hover {
  background-color: #171717; /* Set the background color to #171717 */
}

/* The following styles apply to the <body> element when the screen width is less than or equal to 768px */
@media (max-width: 768px) {
  body {
      margin-left: 50px; /* Set the left margin to 50px */
      margin-right: 50px; /* Set the right margin to 50px */
  }
}

/* The following styles apply to the <body> element when the screen width is less than or equal to 480px */
@media (max-width: 480px) {
  body {
      margin-left: 20px; /* Set the left margin to 20px */
      margin-right: 20px; /* Set the right margin to 20px */
  }
}

.seveg {
  display:flex; /* Use flex display */
  flex-wrap: wrap; /* Wrap the content */
}

@media screen and (max-width: 800px) {
  .seveg {
    display:block; /* Use block display */
  }
}